body {
  background: black;
}

 .wall {
 display: block;
 position: relative;
 margin: auto;
 vertical-align: middle;
 background-color: black;
} 

.color {
  font-family: arial;
  font-size: 30px;
  color: white;
  text-align: center;
}