body {
  background: black;
}

 .wall {
 display: block;
 position: relative;
 margin: auto;
 vertical-align: middle;
 background-color: black;
} 

/*.init {
    margin: 0;
    background: yellow;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }*/